{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>

    <div class="meta">
      <p>{{ .Date.Format "Mon Jan 2, 2006" }}</p>

      <p>{{ .Params.author }}</p>

      {{ if isset .Params "repository" }}
        <p><a href="{{  .Params.repository  }}">Repository</a></p>
      {{ end }}
    </div>

    <article>
      {{ .Content }}
    </article>

    <div class="meta">
      {{ range .Translations }}
      <p>
        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      </p>
      {{ end }}

    {{ with .Params.tags }}
      {{ range . }}
        <p> <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a> </p>
      {{ end }}
    {{ end }}
    {{ with .Params.categories }}
      {{ range . }}
        <p> <a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> </p>
      {{ end }}
    {{ end }}


    </div>
</main>
{{ end }}
