<div class="sidebar">
  <div class="sidebar-inner">
  <header>

    <a class="brand" href="{{.Site.Home.Permalink}}">{{.Site.Title}}</a>

    <nav>
      <ul>
  

      {{ with .Site.Menus.main.Sort }}
        {{ range . }}
          <li>
              <a href="{{.URL}}">{{.Name}}</a>
          </li>
        {{ end }}
        <li class="seperator" role="separator"></li>
      {{ end }}
  

  
      {{ range (where (where .Site.Pages "IsNode" true) "Kind" "=" "section") }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{- end}}
      </ul>
    </nav>
  </header>
  </div>
</div>
