{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>

    <article>
      {{ .Content }}
    </article>

    <div class="meta">
    {{ range .Translations }}
    <p>
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    </p>
    {{ end }}

    </div>

    <article>
      <section>
        <h2>Recent</h2>
        <ul class="listing">
          {{ range ( first 4 (where ( where .Site.Pages "IsNode" false) "Type" "!=" "page").ByDate.Reverse ) }}
          <li>
            <a href="{{ .Permalink }}">
              <span class="left">{{ .Title }}</span>
              <span class="right">{{ .Date.Format "2006-01-02" }}</span>
            </a>
          </li>
          {{- end}}
        </ul>
      </section>
      <h2>Index</h2>
      <section>
        <ul class="listing">
          {{ range (where (where .Site.Pages "IsNode" true) "Kind" "=" "taxonomy") }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{- end}}
        </ul>
      </section>

    </article>
    

</main>
{{ end }}


